body {
    font-family: 'Nanum Gothic', sans-serif;
    background-color: #18191a;
    margin: 0;
}

.top {
    display: flex;
    width: 100%;
    align-content: center;
    justify-content: center;
    background-color: #242526;
    border-bottom: 1px solid #383939;
}

.topName {
    color: #b0b3b8;
}

.allInside {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}

.memoryGameCenteredDiv {
    background-color: #242526;
    display: flex;
    flex-wrap: wrap;
    height: 80%;

}

.everything {
    height: 100vh;
}

.box {
    margin-top: 25px;
    font-size: 45px;
    flex: 1 0 21%;
    display: flex;
    justify-content: center;
}