@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

body {
    width: 100vw;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

h1 {
    font-size: 128px;
    margin: 120px;
}

h2 {
    margin: 80px;
    font-size: 64px;
}

.nameDiv {
    display: flex;
    justify-content: center;
    height: 200px;
    width: 100vw;
}

.tag {
    display: flex;
    justify-content: center;
    width: 100vw;
}

.search {
    width: 100vw;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchRow {
    background-color: #f4f4f4;
    width: 80%;
    height: 150px;
    font-size: 64px;
    border: 3px solid grey;
    border-radius: 100px;
    text-align: center;
}

input[type="text"] {
    outline: none;
}

input[type="text"]::-moz-focus-inner {
    border: 0;

}